body{
    /* background-color: #1a1a1a !important; */
    background: url('images/andy-falconer-dwQRixazu9I-unsplash.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222222 !important;
    font-family: 'roboto';
}

.banner{
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
/* background: url('images/andy-falconer-dwQRixazu9I-unsplash.jpg') center top no-repeat; */
background-size: cover;
font-family: 'roboto';
color: white;
}
.button{
    background-color: #deaa87;
    color: #0e0e0e;
    margin-top: 20px;
    padding: .7rem;
    text-decoration: none;
}
.button:hover{
    background-color: #be9173;
    color: #0e0e0e;
    text-decoration: none;
}
.myBtn{
    background-color: #deaa87 !important;
    color: #0e0e0e !important;
    border: none !important;
    border-radius: 0px !important;
}
.myBtn:hover{
    background-color: #be9173 !important;
    color: #0e0e0e !important;
}
.product-place{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.coffee{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #222222b4;
}

.smallImg{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

/* .coffeeHeader{
    position: relative;
} */
.buyWindow{
    margin-top: 5rem;
    padding: 5rem;
    background-color: #f4e3d7;
}
hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: #803300; /* Цвет линии для остальных браузеров */
    background-color: #803300; /* Цвет линии для браузера Firefox и Opera */
    /* height: 5rem; Толщина линии */
    
}


/* extensions */
.card{
    background-color: none !important;
    border: none !important;
}
.card-body{
    /* background-color: #333333; */
    background-color: #f4e3d7;
}
.card-text{
margin-bottom: .7rem;
}
.card-img-top{
    /* background: none !important; */
    /* background-color: #333333; */
    background-color: #f4e3d7;
}